asttokens==3.0.1
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
comm==0.2.3
cryptography==48.0.0
dateparser==1.4.0
decorator==5.3.1
executing==2.2.1
google-api-core==2.30.3
google-api-python-client==2.196.0
google-auth==2.53.0
google-auth-httplib2==0.4.0
google-auth-oauthlib==1.4.0
googleapis-common-protos==1.75.0
httplib2==0.31.2
idna==3.16
ipython==9.13.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
jedi==0.20.0
joblib==1.5.3
jupyterlab_widgets==3.0.16
matplotlib-inline==0.2.2
numpy==2.4.6
oauthlib==3.3.1
packaging==26.2
parso==0.8.7
pdf2image==1.17.0
pexpect==4.9.0
pillow==12.2.0
prompt_toolkit==3.0.52
proto-plus==1.28.0
protobuf==7.35.0
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pushover_complete==2.0.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.20.0
PyMuPDF==1.27.2.3
pyparsing==3.3.2
pyperclip==1.11.0
pytesseract==0.3.13
python-dateutil==2.9.0.post0
pytz==2026.2
regex==2026.5.9
requests==2.34.2
requests-oauthlib==2.0.0
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
stack-data==0.6.3
threadpoolctl==3.6.0
traitlets==5.15.0
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.7.0
wcwidth==0.7.0
widgetsnbextension==4.0.15
